/*
	| FASILKOM UNSRI
	| alumni.css
	| Author: nurimansyah.rifwan@gmail.com
*/

form small, form strong.pekerjaan
{
	font-size: 10px;
}

form small.error
{
	color: #ff0000;
	font-size: 10px;
	display: block;
	margin-bottom: 5px;
}

/* Table */
table thead tr th
{
	border-bottom: 1px solid #BE3100;
	border-top: 1px solid #BE3100;
	padding-top: 2px;
	padding-bottom: 2px;
	background: #e1daaf;
}

table tbody tr td
{
	padding-top: 5px;
	padding-bottom: 5px;
}

input, textarea, select, button
{
	border: 1px solid #BE3100;
	padding: 3px;
	font-size: 11px;
}

input[type="submit"], input[type="reset"], button
{
	margin-right: 10px;
	color: #BE3100;
	font-weight: bold;
}

input[type="reset"]
{
	font-size: 10px;
	font-weight: normal;
}

form a
{
	color: #BE3100;
	text-decoration: none;
	font-size: 11px;
}

form a:hover
{
	text-decoration: underline;
}

form label.error
{
	color: #ff0000;
	font-size: 11px;
	background: #ffdd00;
	padding: 3px;
	display: block;
	margin-top: 5px;
	border-radius: 3px;
}

/* Loading */
#ajax-loading
{
	display: none;
}